{% extends 'base.html' %}

{% load static %}

{% block 'head' %}
    <link rel="stylesheet" href="{% static 'autorizacao/css/autorizacao.css' %}">
{% endblock %}

{% block 'dashboard' %}
    <div class='container'>
        <div class='row'>
            <div class='col-md card-dashboard'>
                <p>Categoria</p>
            </div>
            <div class='col-md card-dashboard'>
                <p>Tipo</p>
            </div>
            <div class='col-md card-dashboard'>
                <p>Número</p>
            </div>
        </div>
    </div>
{% endblock  %}